---
---
<div class="stage">
  <h1 class="title" data-text="VICE&nbsp;CITY">VICE&nbsp;CITY</h1>

  <button id="play" class="play" type="button" aria-label="Play GTA Vice City online for free">
    <span class="play-inner">
      <span class="play-glyph" aria-hidden="true">
        <svg viewBox="0 0 24 24"><polygon points="6,4 6,20 20,12" /></svg>
      </span>
      <span class="play-text">PLAY</span>
    </span>
  </button>
</div>
